@charset "UTF-8";
*{
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: bisque;
}
.banner{
    background-color: rgb(223, 180, 128);
    width: 400px;
    height: 800px;
    padding: 5px;
    border: 2px solid black;
}
.cor{
    color: rgb(155, 119, 43);

}