@charset "UTF-8";
body {
    background-image: linear-gradient(to bottom, rgb(129, 129, 129), #1f1f1f, #444444);
    background-attachment: fixed;
    color: #ffffff;
    font-family: sans-serif;
    margin: 0%;
}
a:link{
    color: rgb(0, 0, 0);
}*
a:visited{
    color:rgb(3, 3, 3);
}
a:hover{
    color: #F5C518;
}
.cabeçalho-principal{
    background-color: black;
}
.container {
    display: flex;
    position: relative; 
    align-items: center;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 15px;
}
.logo{
    align-items: center;
    margin: 0 auto;
}
.secao-banner{
    margin: 10px;
}
.menu-navegacao{
    gap: 10px;

}
.link-login{
    color: #F5C518;
}
.secao-catalogo{
    margin: 10px;


}
.titulo-catalogo{

}
.grade{
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; 

}
.fotos{
    margin: 3px;
    margin-bottom: 20px;

}
.card{
    background-color: rgb(68, 67, 67);
    padding: 20px; 
}
.dados-itens{

}
.etiqueta{

}

.secao-info{
    margin: 10px;

}
.bloco{

}
.rodape{
    text-align: center;
    
}